    /* Category Component's private CSS styles */
    h1 {
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 350%;
      text-align: center;
    }
    h2, h3 {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: lighter;
      color: white;
      background-color: #555;
    }
    body {
      margin: 0px;
    }
    body, input[text], button {
      color: #888;
      font-family: Cambria, Georgia;
    }
    .sidebar{
      height: 100vh !important;
      margin-top: 0em;
      overflow: none;
      width: 15em;
    }

    ng-sidebar-content {
      overflow: hidden;
    }

    .illustrations li.active-route {
      color: white;
      background-color: #C3073F;
      left: .0em;
    }

    .illustrations li.active-route i {
      color: white;
    }

    .illustrations li.active-route span {
      color: white;
    }

    .example-container {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .example-events {
      width: 300px;
      height: 200px;
      overflow: auto;
      border: 1px solid #555;
    }
    .holder {
    text-align: center;
    margin: auto;
    }

    .wrap {
        margin: auto;
    }

    .selected {
      background-color: #464e53 !important;
      color: white;
    }
    .illustrations {
      background-color: #464e53;
      list-style-type: none;
      padding: 0;
      width: 100vw;
      height: 100px;
      margin-top: 0px;
      margin-bottom: 0px
    }
    .illustrations li {
      display: inline-block;
      width: 115px;
      height: 100px;
      cursor: pointer;
      position: relative;
      background-color: #464e53;
      -webkit-transition: background-color 500ms;
      -moz-transition: background-color 500ms;
      -o-transition: background-color 500ms;
      transition: background-color 500ms;
    }

    .illustrations li .hide-text {
      color: white;
      bottom: 0px;
      top: -25px;
      left: 0px;
      right: 0px;
      padding: 2px 0px;
      color: #ffffff;
      text-decoration: none;
      text-align: center;
      -webkit-transition: color 500ms;
      -moz-transition: color 500ms;
      -o-transition: color 500ms;
      transition: color 500ms;
      }

    .material-icons {
      color: white;
      font-size:45px; 
      margin-top:10px;
      /*box-shadow: 0 0 0 4px rgba(255,255,255,1);*/
      transition: background 0.2s, color 0.2s;  
    }

    /*.material-icons:hover {
      background: rgba(255,255,255,1);
      color: #64bb5d;
    }*/

    .illustrations li:hover i {
      -webkit-transition: color 500ms;
      -moz-transition: color 500ms;
      -o-transition: color 500ms;
      transition: color 500ms;
      transform: scale(1.25);
      color:#464e53;
    }
    
    .illustrations li.mainNav {
      line-height: 4em;
      text-align: center;
      color: white;
      cursor: pointer;
      position: relative;
      left: 0;
      background-color: #6B6;
      padding: .3em 0;
      
    }
     
    .illustrations li.selected:hover {
      background-color: white !important;
      color: white;
    }

    .illustrations li.active-route:hover span {
      -webkit-transition: color 500ms;
      -moz-transition: color 500ms;
      -o-transition: color 500ms;
      color: #464e53;
    }
    .illustrations li:hover {
      color: #464e53;
      background-color: #DDD;
      left: .0em;
      -webkit-transition: background-color 500ms;
      -moz-transition: background-color 500ms;
      -o-transition: background-color 500ms;
      transition: background-color 500ms;
    }

    .illustrations li:hover .hide-text{
      -webkit-transition: color 500ms;
      -moz-transition: color 500ms;
      -o-transition: color 500ms;
      transition: color 500ms;
      color: #464e53;
    }

    .illustrations .badge {
      display: inline-block;
      font-size: small;
      color: white;
      padding: 0.8em 0.7em 0 0.7em;
      line-height: 1em;
      position: relative;
      left: -1px;
      top: -4px;
      height: 1.8em;
      margin-right: .8em;
      border-radius: 4px 0 0 4px;
    }
    .sidebar{
      background-color: #464e53;
    }

    /* Animation functions*/
    
    @keyframes spinAround {
      49% {
        transform: scale(1.25,1.25);
      }
      50% {
        opacity: 1;
        transform: scale(0.5,0.5);
      }
      51% {
        opacity: 1;
      }
    }

    @keyframes shake {
      10%, 90% {
        transform: translate3d(-1px, 0, 0);
      }
      
      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }

      30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
      }

      40%, 60% {
        transform: translate3d(4px, 0, 0);
      }
    }