<div class="wrap">
	<div class="holder">
	<ul class="illustrations">
		<!-- <li class="mainNav"> <i class="material-icons">arrow_downward</i > NAV!!</li> -->
		<li>
			<i class="material-icons">portrait</i>
			<div class="hide-text">
				<span>About</span>
			</div>
		</li>
		<li>
			<i class="material-icons">palette</i>
			<div class="hide-text">
				<span>Art</span>
			</div>
		</li>
		<li>
			<i class="material-icons">code</i>
			<div class="hide-text">
				<span>Code</span>
			</div>
		</li>
		<li>
			<i class="material-icons">lightbulb_outline</i>
			<div class="hide-text">
				<span>Other</span>
			</div>
		</li>
	</ul>
</div>
</div>
