    /* llustration Component's private CSS styles */
    .holder {
    text-align: center;
    margin: auto;
    }

    .wrap {
        margin: auto;
    }

    .selected {
      background-color: #6B6E70 !important;
      color: white;
    }
    .illustrations {
      background-color: #6B6E70;
      list-style-type: none;
      padding: 0;
      width: 100vw;
      height: 100px;
      margin-top: 0px;
      margin-bottom: 0px
    }
    .illustrations li {
      display: inline-block;
      width: 150px;
      height: 100px;
      cursor: pointer;
      position: relative;
      background-color: #6B6E70;
      -webkit-transition: background-color 500ms;
      -moz-transition: background-color 500ms;
      -o-transition: background-color 500ms;
      transition: background-color 500ms;
    }

    .illustrations li .hide-text {
      color: white;
      bottom: 0px;
      top: -25px;
      left: 0px;
      right: 0px;
      padding: 2px 0px;
      color: #ffffff;
      text-decoration: none;
      text-align: center;
      -webkit-transition: color 500ms;
      -moz-transition: color 500ms;
      -o-transition: color 500ms;
      transition: color 500ms;
      }

    .material-icons {
      color: white;
      font-size:45px; 
      margin-top:10px;
       -webkit-transition: color 500ms;
      -moz-transition: color 500ms;
      -o-transition: color 500ms;
      transition: color 500ms;
    }

    .illustrations li:hover i {
      -webkit-transition: color 500ms;
      -moz-transition: color 500ms;
      -o-transition: color 500ms;
      transition: color 500ms;
      color: #6B6E70;
    }
    
    .illustrations li.mainNav {
      line-height: 4em;
      text-align: center;
      color: white;
      cursor: pointer;
      position: relative;
      left: 0;
      background-color: #6B6;
      padding: .3em 0;
      
    }
     
    .illustrations li.selected:hover {
      background-color: white !important;
      color: white;
    }
    .illustrations li:hover {
      color: #6B6E70;
      background-color: #DDD;
      left: .0em;
      -webkit-transition: background-color 500ms;
      -moz-transition: background-color 500ms;
      -o-transition: background-color 500ms;
      transition: background-color 500ms;
    }

    .illustrations li:hover .hide-text{
      -webkit-transition: color 500ms;
      -moz-transition: color 500ms;
      -o-transition: color 500ms;
      transition: color 500ms;
      color: #6B6E70;
    }

    .illustrations .badge {
      display: inline-block;
      font-size: small;
      color: white;
      padding: 0.8em 0.7em 0 0.7em;
      line-height: 1em;
      position: relative;
      left: -1px;
      top: -4px;
      height: 1.8em;
      margin-right: .8em;
      border-radius: 4px 0 0 4px;
    }
    .sidebar{
      background-color: #6B6E70;
    }
    