.container {
  position: relative;
  overflow:auto;
}

ul {
  list-style-position: inside;
}

.clr{
  clear:both;
  font-size:0;
}

li {
  width: 300px;
  height: 300px;
  float: left;
  margin: 5px;
}

img {
    border: 1px solid #9195a1; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    max-width: 300px; /* Set a small width */
    max-height: 300px;
}

/* Add a hover effect (blue shadow) */
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

h2 {
  color: white;
}
